body{
    background-size: cover;
}
#numberofobjects{
    font-size: 18px;
}
#start{
    font-size: 18px;
}
.copyrightfooter{
    width: 100%;
    background-color:darkblue;
    color: white;
    text-align: center;
    line-height: 3;
    position: fixed;
    bottom: 0;
}
canvas{
    border: 2px solid white;
    border-radius: 20px;
    margin-top: 130px;
    box-shadow: 5px 5px 5px black;
}
